<mat-toolbar *ngIf="showNavbar" class="full_navbar">
  <span>Flight Booking App</span>
  <span class="spacer"></span>
  <button
    mat-button
    routerLink="/search"
    style="color: #ecf0f1"
    [disabled]="disableButtons"
  >
    Home
  </button>
  <button
    mat-button
    routerLink="/my-bookings"
    style="color: #ecf0f1"
    [disabled]="disableButtons"
  >
    My bookings
  </button>
  <button
    mat-button
    routerLink="/logout"
    style="color: #ecf0f1"
    [disabled]="disableButtons"
  >
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
