<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2 class="title has-text-centered">Login</h2>

  <mat-form-field
    class="example-full-width"
    [class.mat-form-field-invalid]="
      emailFormControl.invalid &&
      (emailFormControl.dirty || emailFormControl.touched)
    "
  >
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
      (focus)="resetField(emailFormControl)"
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('invalid')">
      {{ loginError }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    [class.mat-form-field-invalid]="
      passwordFormControl.invalid &&
      (passwordFormControl.dirty || passwordFormControl.touched)
    "
  >
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      (focus)="resetField(passwordFormControl)"
    />
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('invalid')">
      {{ loginError }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button>Login</button>

  <p class="has-text-centered mt-5">
    Don't have an account? <a routerLink="/register">Register</a>
  </p>
</form>
