<div class="container">
  <div *ngIf="isLoading" class="has-text-centered">
    <mat-spinner></mat-spinner>
  </div>
  <div id="FlightResult" *ngIf="!isLoading" class="box">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <div class="headerStartingDate">
          <h4 class="title is-4">{{ originAirportName }}</h4>
          <p class="subtitle is-6">
            {{ flight?.departure_date | date : "yyyy-MM-dd" }}
          </p>
        </div>
      </div>
      <div class="column is-2 has-text-centered">
        <i class="fas fa-long-arrow-alt-right" style="font-size: 2rem"></i>
      </div>
      <div class="column is-5 has-text-right">
        <div class="headerReturnDate">
          <h4 class="title is-4">{{ destinationAirportName }}</h4>
          <p class="subtitle is-6">
            {{ flight?.arrival_date | date : "yyyy-MM-dd" }}
          </p>
        </div>
      </div>
    </div>
    <div class="columns is-vcentered has-text-centered">
      <div class="column is-2"><strong>Airline</strong></div>
      <div class="column is-2"><strong>Departure</strong></div>
      <div class="column is-2"><strong>Arrival</strong></div>
      <div class="column is-2"><strong>Tickets Left</strong></div>
      <div class="column is-2"><strong>Flight Duration</strong></div>
      <div class="column is-2"><strong>Fare</strong></div>
    </div>
    <div class="columns is-vcentered has-text-centered">
      <div class="column is-2">{{ flight?.airline }}</div>
      <div class="column is-2">
        {{ flight?.departure_date | date : "HH:mm" }}
      </div>
      <div class="column is-2">
        {{ flight?.arrival_date | date : "HH:mm" }}
      </div>
      <div class="column is-2">{{ flight?.capacity }}</div>
      <div class="column is-2">{{ flightDuration }}</div>
      <div class="column is-2">{{ flight?.price }} &euro;</div>
    </div>
    <div class="columns is-centered mt-4">
      <div class="column is-4">
        <button
          class="button is-success is-fullwidth"
          (click)="confirmBooking()"
        >
          Confirm Booking
        </button>
      </div>
    </div>
  </div>
</div>
